<%= form_with model: @diary, url:diaries_path, local: true do |f| %>
  <%= render "shared/error_messages", model: @diary %>

  <div class="title">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="time">
    <%= f.label :start_time %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= f.label :content %>
    <%= f.text_field :content %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="submit">
    <%= f.submit %>
  </div>

<% end %>