<%= render "shared/header" %>

<%= form_with model: @diary, url:diaries_path, local: true do |f| %>
  <%= render "shared/error_messages", model: @diary %>

  <div class="field">
    <%= f.label :title,"タイトル" %>
    <%= f.text_field :title, class:"title-field" %>
  </div>

  <div class="field">
    <%= f.label :start_time,"予定日時" %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :content,"　　予定" %>
    <%= f.text_area :content,rows:"5",class:"text_area" %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image, class:"image-diary" %>
  </div>

  <div class="field">
    <%= f.submit"書き込む" %>
  </div>

<% end %>