<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル</strong>
  <%= @diary.title %>
</p>

<p>
  <strong>投稿日時</strong>
  <%= @diary.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>

<p>
  <strong>出来事</strong>
  <%= @diary.content %>
</p>

<%= link_to 'Edit', edit_diary_path(@diary) %> |
<%= link_to 'Back', diaries_path %>