<%= render "shared/header" %>
    <% if current_user.id == @user.id %>
      <%=link_to "#{@user.name}さんの情報編集",edit_user_registration_path(@user.id) %>
    <% end %>
<h2 class="page-heading">
  <%= render "relationships/follow_button", user: @user %>
   <%# <%= image_tag @user.image  %> 
  <%= @user.name %>
</h2>
<table class="table">
  <tbody>
    <tr>
      <th class="table__col1">趣味</th>
      <td class="table__col2"><%= @user.hobby %></td>
    </tr>
    <tr>
  </tbody>
</table>
<h2 class="page-heading">
  <%= "#{@user.name}さんの旅路一覧"%>
</h2>


<h1>未来の日記</h1>


  <tbody>
    <% current_user.diaries.each do |diary| %>
      <tr>
        <td><%= diary.title %></td>
        <td><%= diary.start_time.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= month_calendar events: @user.diaries do |date, diaries| %>
  <%= date.day %>

  <% diaries.each do |diary| %>
    <div>
      <%= link_to diary.title, diary %>
    </div>
  <% end %>
<% end %>
  </div>
  </div>
  </div>


      <div class="user__card">
      </div>
    </div>
  </div>
</div>